<div class="row">
<div class="col-md-6 offset-md-3">
<%= form_with(model: zombie, local: true) do |form| %>
  <% if zombie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(zombie.errors.count, "error") %> prohibited this zombie from being saved:</h2>

      <ul>
      <% zombie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
   <%#> <%= form.label :weight %>
    <%= form.number_field :weight, class: 'form-control', placeholder:"weight" %>
  </div>

  <div class="form-group">
    <%#> <%= form.label :kills %>
    <%= form.number_field :kills, class: 'form-control', placeholder:"kills" %>
  </div>

  <div class="form-group">
    <%#><%= form.label :weapon %>
    <%= form.text_field :weapon, class: 'form-control', placeholder:"weapon" %>
  </div>

  <div class="form-group">
    <%#><%= form.label :picture %>
    <%= form.text_field :picture, class: 'form-control', placeholder:"weapon" %>
  </div>

  <div class="actions">
    <%= form.submit class:'btn btn-primary' %>
  </div>
<% end %>
</div>
</div>
