<p id="notice"><%= notice %></p>
<div class="row">
<div class="col-md-6 offset-md-3">
<div class="card" style="width: 28rem;">
   <%= image_tag @zombie.picture, class:'card-img-top', alt:'zombie'%>
  <div class="card-body">
    <h5 class="card-title"> <%= @zombie.weight %></h5>
    <h5 class="card-title"> <%= @zombie.kills %></h5>
    <h5 class="card-title"> <%= @zombie.weapon %></h5>
    <%= link_to 'Edit', edit_zombie_path(@zombie), class:'btn btn-info' %> 
    <%= link_to 'Back', zombies_path, class:'btn btn-info' %>
  </div>
</div>
</div>
</div>




